<div class="container">
	<div class="row">
		<div class="offset-s3 col s2">
		   <%= image_tag 'num-1.png', class: 'materialboxed' %>
		   <p class="center-align grey-text  lighten-1">1.投稿内容作成</p>
		</div>
		<div class="col s2">
		   <%= image_tag 'num-2.png', class: 'materialboxed' %>
		   <p class="center-align grey-text  lighten-1">2.投稿内容確認</p>
		</div>
		<div class="col s2">
		   <%= image_tag 'num-3.png', class: 'materialboxed' %>
		   <p class="center-align">3.投稿完了</p>
		</div>
	</div>
</div>