<div class="container">
	<div class="row">
		<% @rucruitments.each do |r| %>
		  <div class="col s12">
		  	<div class= "card">
		  		<div class="card-content">
		  			<span class="card-title">
		  				  <%= r.title %>
		  			</span>
		  			<div class="chip teal darken-3 white-text"><%= r.category %></div>
                    <%= link_to recruitment_path(r.id) do %>
		  			  <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action">
                       <i class="material-icons right">send</i>もっと詳しく
                      </button>
                    <% end %>
		  		</div>
		  	</div>
		  </div>
		<% end %>
	</div>
</div>