<div class="visual">
  <div class="mask normal">
    <p class="txt">
      <span class="line">野球&nbsp;しよう</span>
      <span class="line"><span class="large">一人でも</span>
      <span class="line"><span class="large">チームでも</span></span>
    </p>
  </div>
  <div class="mask burn">
    <p class="txt">
      <span class="line">野球&nbsp;しよう</span>
      <span class="line"><span class="large">一人でも</span>
      <span class="line"><span class="large">チームでも</span></span>
    </p>
  </div>
  <div class="about">
  	 <p class="visual-text">
	野球をもっと身近に<br>
	Ball Parkは野球の醍醐味である試合をもっと気軽にしたい<br>
	という思いで作られたウェブサイトです<br>
	一人でも、チームでも,<br>
	気軽につながりを広げていくことが出来ます<br>
</p>
  </div>
</div><!-- /visual -->