<div class="container">
	<div class="row">
		  <div class="offset-s3 col s7">
		  	<table class="collection">
		  		<thead>
		  			<tr>
		  			  <th></th>
		  			  <th></th>
		  			  <th></th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  		 <% @users.each do |u| %>
		  		  <tr>
		  		  	<th>
		  		  		<%= attachment_image_tag u, :profile_image,　format: 'png', fallback: "no_image.png", size: "50x50", class: 'circle' %>
		  		  	</th>
		  		  	<th><%= u.name %></th>
		  		  	<th>
			  			<%= link_to user_path(u.id) do %>
			  			  <i class="material-icons">send</i>
			  			<% end %>
		  		    </th>
		  		 <% end %>
		  		</tbody>
		  	</table>
		  </div>
	</div>
</div>