<div class="container">
	<div class="row">
		<% @users.each do |u| %>
		  <div class="offset-s2 col s8">
		  	<ul class="collection">
		  		<li class="collection-item">
		  			<i><%= attachment_image_tag u, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></i>
		  			<span><%= u.name %></span>
		  			<%= link_to user_path(u.id) do %>
		  			  <i class="material-icons">send</i>
		  			<% end %>
		  		</li>
		  	</ul>
		  </div>
		<% end %>
	</div>
</div>