<div class="container">
	<div class="row">
	  <h4><%= current_user.name %>さんのDM一覧</h4>
	  <div class="offset-s2 col s8">
		<% @chat.each do |c| %>
		<ul class= "collection">
		  	<% c.chat_room_users.each do |u| %>
		  	  <% if u.user.id != current_user.id %>
		  		<%= link_to u.user.name, chat_path(c.id), class: "collection-item avatar" %>
		  	   </ul>
		  	  <% end %>
		  	<% end %>
		<% end %>
	  </div>
	</div>
</div>
