// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メインビジュアル
@import url('https://fonts.googleapis.com/css?family=Kosugi');

#animation {
font-size: 20px;
font-weight: bold;
position: absolute;
top: 1100px;
right: 100px;
color: white;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.visual-text{
 position: absolute;
 top: 700px;
 left: 100px;
 color: white;
}
.visual {
  background-image: url(main-visual2.jpg);
  background-size:  cover;
  opacity: 1.0;
  position: relative;
  height: 1500px;
}
.visual .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.visual .txt {
  font-size: 0;
  line-height: 1;
  position: absolute;
  top: 85px;
  left: 40px;
}
.visual .line {
  display: block;
  font-family: 'Kosugi', sans-serif;
  font-size: 80px;
  font-weight: bold;
}
.visual .line + .line {
  margin-top: 15px;
}
.visual .letter {
  display: inline-block;
  padding-top: 5px;
}
.visual .large {
  font-size: 100px;
}

.visual .mask.normal {
  color: white;
  -webkit-clip-path: polygon(0 0, 262px 0, 262px 460px, 0 460px);
  clip-path: polygon(0 0, 262px 0, 262px 460px, 0 460px);
}
.visual .mask.burn {
  color: green yellow;
  -webkit-clip-path: polygon(262px 0, 862px 0, 862px 460px, 262px 460px);
  clip-path: polygon(262px 0, 862px 0, 862px 460px, 262px 460px);
}

.mask.burn {
  mix-blend-mode: color-burn;
}
.mask.burn {
  mix-blend-mode: color-burn;
}
/* 初期は非表示 */
.visual .line,
.visual .letter {
  opacity: 0;
}

/* is-visible になったらアニメーション開始 */
.visual.is-visible .line {
  opacity: 1;
}
.visual.is-visible .letter {
  animation: slideIn 2s cubic-bezier(0,1.2,.13,1.5) forwards;
}

/* 文字が左から出てくるアニメーション */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(-100px,0,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}